#cv {
    cursor: pointer;
}
.softSkillName {
    color: #BD5D38;
    margin-top: 100px;
    font-size: 15px;
    text-align: center;
}

.social-icons2 a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #BD5D38;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}
.social-icons2 a:last-child {
    margin-right: 0;
}

.social-icons2 a:hover {
    background-color: #495057;
}

.social-icons3{
    display: none;
    /*height: 3.5rem;*/
    /*width: 3.5rem;*/
    /*background-color: #495057;*/
    color: #fff ;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.skill{
    width:min-content;
}
.proof{
     cursor: pointer;
     width:20px;
     height:20px;
 }
.proof_1, .proof_2, .proof_3, .proof_4, .proof_5, .proof_6, .proof_7, .proof_8, .proof_9, .proof_10, .proof_11, .proof_12, .proof_13, .proof_14, .proof_15, .proof_16, .proof_17, .proof_18, .proof_19{
    cursor: pointer;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
    border-radius: 8px;
}

div.gallery img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

@media (max-width: 992px) {
    .social-icons2{
         display: none;
     }
    .social-icons3{
        display: inline-block;
    }
    #mymedia{
        background-color: #495057;
    }
    #certif_1 {
        width: 50px;
        height: 40px;
    }
}
.ui-dialog {
    z-index:1000000000;
    top: 0; left: 0;
    margin: auto;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.ui-dialog .ui-dialog-content {
    flex: 1;
}
.ui-widget-header {
    background: #BD5D38;
    border: 0;
}
.ui-dialog-buttonpane{
    background: #BD5D38;
}
.ui-dialog-titlebar-close{
    display:none;
}
.ui-tabs{
    border: none;
}
.ui-tabs-nav{
    /*background: #c86e38;*/
    padding-left: 0px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-tabs-panel{
    background: transparent;
    border-width: 0px 1px 1px 1px;
}
#tabs_1, #tabs_2, #tabs_3, #tabs_4, #tabs_5, #tabs_6, #tabs_7, #tabs_8, #tabs_9, #tabs_10, #tabs_11, #tabs_12, #tabs_13, #tabs_14, #tabs_15, #tabs_16, #tabs_17, #tabs_18, #tabs_19, #tabs{
    padding: 0px;
    background: none;
    border-width: 0px;
}
.liTAB .ui-state-active {
    background: #BD5D38 !important;
}

myP {
    display: block;
    margin-bottom: 10px;
}

a.hyperlink {
    color: blue;
}