/**************** from W3School ************/

.accordion {
    background-color: #100f3a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #8583e1;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion2 {
    background-color: #100f3a;
    color: white;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/***********************************************/
.heure {
    float: right;
}
.preuve {
    float: right;
    font-weight: bold
}
.time {
   text-align: center;
}

.tabSummary {
    color : black;
    font-size: 15px;
}

.tabSummary td:first-child {
    width: 80%;
    font-weight: bold
}
#total {
    background-color: #8583e1;
}
.tab_summ td{
    width: 300px;
}
.tab_summ td:first-child{
    width: 800px;
}
.proof {
    margin-left: -30px;
}